<table id='user_info'>
  <tbody>
    <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <td>ID</td>
      <td><%= @user.unique_id %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>