/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_self
 *= require_tree .

 */

 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 body{
  margin: 0;
  padding: 0;
 }

 
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav_link {
  float: left;
}

li.nav_link a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #12d600;
}

ul.nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* form */
.form_card{
  border: solid 2px black;
  border-radius: 10px;
  width: 700px;
  height: auto;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 5px 5px 5px darkgray;
  h2{
    text-align: center;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date']{
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
    &:focus{
      outline: none;
    }
  }
  .field{
    position: relative;
    width: 90%;
    margin: 40px auto;
    .focus_line{
      transition: 0.4s;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: 0.4s;
      background-color: #04e25a;
    }
    label{
      font-size: 12px;
      position: absolute;
      top: 4px;
      left: 0;
      width: 100%;
      transition: 0.3s;
      letter-spacing: 0.5px;
      color: #aaaaaa;
    }
    .entry_field{
      padding: 4px 0;
      border: 0;
      border-bottom: 1px solid #1b2538;
      background-color: transparent;
    }
  }
  .select_field{
    position: relative;
    label{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 50%;
      select{
        position: relative;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        
        display: block;
        width: 100%;
        max-width: 320px;
        height: 50px;
        
        margin: 5px 0px;
        padding: 0px 24px;
        font-size: 16px;
        line-height: 1.75;
        color: #333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
      }
      &:after{
        content: '<>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 220px;
        /*Adjust for position however you want*/
        
        top: 10px;
        padding: 0 0 2px;
        border-bottom: 1px solid #999;
        /*left line */
        
        position: absolute;
        pointer-events: none;
      }
    }
  }
  .textarea_field{
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    label{
      display: block;
    }
    textarea{
      width: 100%;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
  .date_field{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.entry_field:focus ~ .focus_line{
  width: 100%;
  transition: 0.4s;
}
.entry_field:focus ~ label{
  font-size: 12px;
  top: -16px;
  transition: 0.3s;
  color: #04e25a;
}
select::-ms-expand {
  display: none;
}

/*btn*/
.btn{
  width: 100px;
  height: 50px;
  background-color: #04e25a;
  text-align: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  input{
    font-size: 20px;
    height: 100%;
    display: block;
    margin: auto auto;
    color: white;
  }
}
.btn_delete{
  width: 120px;
  height: 50px;
  background-color: #ff4101;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-size: 10px;
  display: block;
}
a{
  &.btn_item{
    width: 100px;
    height: 50px;
    background-color: #ff4101;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
  }
  &.btn_delete_item{
    background-color: #ff4101;
  }
  &.btn_edit_item{
    background-color: #ffcb07;
  }
}


/*tab*/
.tabs {
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  font-size: 24px;
}


.tab_item {
  width: calc(100%/3);
  height: 80px;
  border-bottom: 3px solid #12d600;
  background-color: #d9d9d9;
  line-height: 80px;
  font-size: 24px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  &:hover{
    opacity: .75;
  }
}


input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


#all:checked ~ #all_content,
#invited:checked ~ #invited_content,
#inviting:checked ~ #inviting_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #12d600;
  color: #fff;
}

/*btn*/
.add_btn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #12d600;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  i.fas.fa-plus{
    float: right;
    position: absolute;
    right: 12px;
    bottom: 18px;
    font-weight: bold;
    color: white;
    z-index: 2;
  }
  &:hover{
    opacity: .75;
  }
  a{
    display: block;
    font-size: 25px;
    color: white;
    line-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
    i{
      &.fa-yen-sign{
        &::before{
          position: absolute;
          left: 15px;
          top: 18px;
        }
      }
      &.fa-book{
        &::before{
          position: absolute;
          left: 10px;
          top: 18px;
        }
      }
    }
  }
}

.add_user_btn{
  position: fixed;
  bottom: 40px;
  right: 120px;
  background-color: #2501ff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  &:hover{
    opacity: .75;
  }
  a{
    display: block;
    font-size: 25px;
    color: white;
    line-height: 60px;
    text-align: center;
  }
}
.back_btn{
  margin-top: 20px;
  margin-left: 10px;
  background-color: #12d600;
  border: 1px solid #12d600;
  height: 60px;
  width: 80px;
  border-radius: 5px;
  &:hover{
    a{
      color: #12d600;
    }
    background-color: white;
    border: 1px solid #12d600;
  }
  a{
    display: block;
    font-size: 25px;
    line-height: 60px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

