// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar-heading{
  text-align: center;
  a{
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  span{
    font-size: 40px;
  }
}

.show_calendar{
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  .cost_calendar{
    width: 75%;
  }
}

.calendar_side{
  width: 25%;
}

table{
  
  thead{
    tr{
      th{
        text-align: center !important;
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: center;
      }
    }
  }
  &.month_total_cost_table{
    border-collapse: collapse;
    margin-top: 60px;
    thead{
      tr{
        th{
          border-bottom: rgb(0, 252, 150) 2px solid;
          font-size: 30px;
        }
      }
    }
    tbody{
      tr{
        border-bottom: rgb(0, 252, 150) 2px solid;
        td{
          text-align: right;
          font-size: 30px;
        }
      }
    }
  }
  &.month_total_cost_table{
    font-size: 30px;
  }
  &#cost-detail,
  &#cost-group-by-item{
    border-collapse: collapse;
    width: 80%;
    border-color: black;
    border-spacing: 0;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    thead{
      tr{
        border-bottom: 1px solid #ddd;
        th{
          padding: 10px;
          &+th{
            border-left: 1px solid #ddd;
          }
          text-align: center;
        }
      }
    }
    tbody{
      tr{
        td{
          padding: 10px;
          text-align: center;
          &+td{
            border-left: 1px solid #ddd;
          }
          &.delete_btn_cell,
          &.edit_btn_cell{
            border: 1px solid white;
          }
        }
      }
    }
  }
}

span{
  &.badge{
    color: white;
    padding: 3px;
    border-radius: 3px;
    width: 100px;
    display: inline-block;
    margin: 0;
  }
  &.食費{
    background-color: rgb(252, 152, 0);
  }
  &.日用品{
    background-color: rgb(15, 252, 0);
  }
  &.交通費{
    background-color: rgb(252, 247, 0);
    color: rgb(101, 101, 101);
  }
  &.趣味{
    background-color: rgb(0, 252, 233);
  }
  &.衣服{
    background-color: rgb(0, 29, 252);
  }
  &.美容{
    background-color: rgb(223, 2, 195);
  }
  &.交際費{
    background-color: rgb(139, 252, 0);
  }
  &.教養・教育{
    background-color: rgb(137, 0, 252);
  }
  &.健康・医療{
    background-color: rgb(52, 182, 4);
  }
  &.金融{
    background-color: rgb(228, 224, 53);
  }
  &.住宅{
    background-color: rgb(26, 97, 187);
  }
  &.水道光熱費{
    background-color: rgb(255, 61, 61);
  }
  &.通信費{
    background-color: rgb(121, 68, 255);
  }
  &.税金{
    background-color: rgb(4, 94, 58);
  }
  &.自動車{
    background-color: rgb(0, 1, 2);
  }
  &.その他{
    background-color: rgb(101, 101, 101);
  }
}

.tables{
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  h2{
    margin-left: 160px;
  }
}

.data{
  margin: 15px;
  display: flex;
  margin-top: 30px;
  width: 90%;
  #pie-chart{
    width: 50% !important;
  }
  #column-chart{
    width: 50% !important;
  }
}

.simple-calendar {
  margin: 15px;
  padding: 10px;
  .day {
    height: 15vh;
    font-size: 25px;
    a{
      font-size: 20px;
    }
    .day_total{
      background-color: rgb(252, 0, 0);
      border-radius: 12px;
      color: white;
      height: 50px;
      line-height: 50px;
    }
  }

  .wday-0 {
    background-color: rgb(255, 201, 201);
    &.prev-month,
    &.next-month{
      background-color: #ddd;
    }
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: rgb(201, 208, 255);
    &.prev-month,
    &.next-month{
      background-color: #ddd;
    }
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
