// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show
.calendar-heading{
  text-align: center;
  a{
    font-size: 25px;
  }
  span{
    font-size: 40px;
  }
}

.show_calendar{
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  .cost_calendar{
    width: 75%;
  }
}

.calendar_side{
  width: 25%;
}

table{
  
  thead{
    tr{
      th{
        text-align: center !important;
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: center;
      }
    }
  }
  &.month_total_cost_table, &.month_total_income_table{
    border-collapse: collapse;
    margin-top: 60px;
    font-size: 30px;
    thead{
      tr{
        th{
          border-bottom: rgb(0, 252, 150) 2px solid;
          font-size: 30px;
        }
      }
    }
    tbody{
      tr{
        border-bottom: rgb(0, 252, 150) 2px solid;
        td{
          text-align: right;
          font-size: 30px;
        }
      }
    }
  }
  &.month_total_cost_table{
    thead{
      tr{
        th{
          border-color: #ff54a5;
        }
      }
    }
    tbody{
      tr{
        border-color: #ff54a5;
      }
    }
  }
  &#cost-detail,
  &#income-detail,
  &#cost-group-by-item{
    border-collapse: collapse;
    width: 80%;
    border-color: black;
    border-spacing: 0;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    thead{
      tr{
        border-bottom: 1px solid #ddd;
        th{
          padding: 10px;
          &+th{
            border-left: 1px solid #ddd;
          }
          text-align: center;
        }
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid #ddd;
        td{
          padding: 10px;
          text-align: center;
          &+td{
            border-left: 1px solid #ddd;
          }
          &.delete_btn_cell,
          &.edit_btn_cell{
            border: 1px solid white;
          }
        }
      }
    }
  }
}

span{
  &.badge{
    color: white;
    padding: 3px;
    border-radius: 3px;
    width: 100px;
    display: inline-block;
    margin: 0;
  }
  &.食費{
    background-color: rgb(252, 152, 0);
  }
  &.日用品{
    background-color: rgb(15, 252, 0);
  }
  &.交通費{
    background-color: rgb(252, 247, 0);
    color: rgb(101, 101, 101);
  }
  &.趣味{
    background-color: rgb(0, 252, 233);
  }
  &.衣服{
    background-color: rgb(0, 29, 252);
  }
  &.美容{
    background-color: rgb(223, 2, 195);
  }
  &.交際費{
    background-color: rgb(139, 252, 0);
  }
  &.教養・教育{
    background-color: rgb(137, 0, 252);
  }
  &.健康・医療{
    background-color: rgb(52, 182, 4);
  }
  &.金融{
    background-color: rgb(228, 224, 53);
  }
  &.住宅{
    background-color: rgb(26, 97, 187);
  }
  &.水道光熱費{
    background-color: rgb(255, 61, 61);
  }
  &.通信費{
    background-color: rgb(121, 68, 255);
  }
  &.税金{
    background-color: rgb(4, 94, 58);
  }
  &.自動車{
    background-color: rgb(0, 1, 2);
  }
  &.その他{
    background-color: rgb(101, 101, 101);
  }
}

.tables{
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  h2{
    margin-left: 160px;
  }
}

.data{
  margin: 15px;
  display: flex;
  margin-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  #pie-chart,
  #pie-chart-year,
  #column-chart{
    width: 33% !important;
    box-sizing: border-box;
    padding: 5px;
  }
}

.simple-calendar {
  margin: 15px;
  padding: 10px;
  .day {
    height: 15vh;
    font-size: 25px;
    a{
      font-size: 20px;
    }
    .day_total{
      border-radius: 12px;
      color: white;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
    }
    .day_cost{
      background-color: rgb(252, 0, 0);
    }
    .day_income{
      background-color: #0fe467;
    }
  }

  .wday-0 {
    background-color: rgb(255, 201, 201);
    &.prev-month,
    &.next-month{
      background-color: #ddd;
    }
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: rgb(201, 208, 255);
    &.prev-month,
    &.next-month{
      background-color: #ddd;
    }
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.room_wrap,
.wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .content{
    display: inline;
  }
}

// new/edit

.form_tabs {
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  font-size: 20px;
  label{
    a{
      text-decoration: none;
      color: #646464;
      display: inline-block;
      width: 100%;
    }
  }
}


.tab_item_form {
  width: 50%;
  height: 60px;
  border-bottom: 3px solid #12d600;
  background-color: #d9d9d9;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  &:hover{
    opacity: .75;
  }
}


input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  .room_card{
    a.room_name{
      color: #000;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

#cost:checked ~ #cost_content,
#income:checked ~ #income_content {
  display: block;
}

.form_tabs input:checked + .tab_item_form {
  background-color: #12d600;
  color: #fff;
}
